@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}
header {
  max-width: 1920px;
  margin: auto;
  width: 100%;
}
.container-header {
  width: 100%;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(./assets/star\ uó\ topo.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logoStar {
  width: 20%;
  height: 12%;
  position: absolute;
  top: 60%;
  right: 60%;
  z-index: 0;
}

.logoWars {
  width: 20%;
  height: 12%;
  position: absolute;
  bottom: 27%;
  left: 60%;
  z-index: 0;
}
.logoKilo {
  width: 55%;
  z-index: 1;
  position: absolute;
  top: 10%;
  right: 30%;
  filter: drop-shadow(30px 30px 15px rgba(0, 0, 0, 0.6)) contrast(1.1);
}

.menu {
  width: 7%;
  position: absolute;
  left: 70%;
  bottom: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.text-menu {
  border-bottom: 3px solid #000;
  padding-bottom: 1.3vh;
  line-height: 1.4;
}

.header--menu {
  display: flex;
  align-items: center;
  padding-top: 1vw;
  width: 100%;
  font-size: 0.66em;
}

.header--menu p span {
  font-size: 1.5em;
}
.header-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 0.8vw;
  text-decoration: none;
  color: #000;
  background-color: #9fb6ca;
  margin: 3px 0 0 3px;
  padding: 6px;
}

.container--header {
  background-image: url(./assets/sta\ uo\ robot.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 155vh;
}
.container--headerUm {
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
}

.img-red {
  background-image: url(./assets/strom\ trupe\ r.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  width: 23%;
  height: 78vh;
  top: -6%;
  right: 65%;
  position: absolute;
  z-index: 1;
  color: #fff;
}

.img-red h2 {
  font-size: 2em;
  width: 50%;
  height: 20vh;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.img-red p {
  font-weight: 300;
  font-size: 100%;
  text-align: left;
  width: 80%;
  height: 15vh;
}
.img-red a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: solid #fff 2px;
  width: 50%;
  height: 7vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.img-red a:hover {
  transition: 1s ease-in;
  cursor: pointer;
  background-color: black;
  width: 55%;
}

.img-sobre {
  width: 50%;
  height: 35vh;
  position: absolute;
  top: 30vh;
  right: 5vw;
}
.img-linha {
  position: absolute;
  width: 85%;
  height: 0.8vh;
  bottom: 0;
  left: 10vw;
  background-color: #707070;
}

.container--headerDois {
  width: 100%;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imgUm {
  position: absolute;
  width: 37%;
  top: 5vh;
  right: 41vw;
  filter: drop-shadow(30px 30px 15px rgba(0, 0, 0, 0.4)) contrast(1.1);
  z-index: 1;
}

.imgDois {
  width: 15%;
  height: 65vh;
  position: absolute;
  top: 17vh;
  right: 10vw;
  filter: drop-shadow(30px 30px 15px rgba(0, 0, 0, 0.4)) contrast(1.1);
  z-index: 1;
}
.list {
  position: absolute;
  right: 25vw;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
  text-transform: uppercase;
  z-index: 1;
}

.list ul {
  font-size: 1.3em;
  line-height: 1.9;
}
.list li:hover {
  background-color: #ff5a56;
  cursor: pointer;
}

.list h2 {
  font-size: 3.1em;
  font-weight: 400;
}

.img-sobreUm {
  display: none;
}

main {
  width: 100%;
  height: 290vh;
}

.sectionImage {
  background-color: #2d2d2d;
  width: 100%;
  height: 230vh;
  line-height: 0;
  position: relative;
}

.sectionImage h2 {
  width: 15%;
  height: 8vh;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  position: absolute;
  top: 17vh;
  right: 65vw;
}
.image-um {
  width: 37%;
  position: absolute;
  top: 32vh;
  right: 49.8vw;
  z-index: 0;
}

.textImage-um {
  width: 37.5%;
  display: none;
  height: 51vh;
  position: relative;
  top: 31vh;
  right: -11.5vw;
  z-index: 1;
  color: #fff;
  background-color: #ff5a56;
  opacity: 0.56;
}
.textImage-um::after {
  position: absolute;
  content: "";
  top: 6%;
  left: 3.5%;
  display: block;
  width: 7%;
  height: 10%;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
}

.textImage-um::before {
  position: absolute;
  content: "";
  border-bottom: solid #fff 4px;
  border-right: solid #fff 4px;
  bottom: 6%;
  right: 3.5%;
  width: 7%;
  height: 10%;
  display: block;
}

.divSectionImageUm:hover .textImage-um {
  display: block;
}

.textImage-um h3 {
  width: 30%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 2vh;
  right: 24vw;
  font-size: 1.3em;
  text-transform: uppercase;
}

.textImage-um p {
  width: 80%;
  height: 18vh;
  position: absolute;
  top: 15vh;
  right: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-weight: 500;
}
.textImage-um a {
  width: 30%;
  height: 7vh;
  border: solid 3px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 37vh;
  right: 24vw;
}

.image-dois {
  width: 18.7%;
  position: absolute;
  top: 31.5vh;
  right: 31.5vw;
}
.textImage-dois {
  width: 20%;
  display: none;
  height: 26vh;
  position: relative;
  top: 30.5vh;
  right: -47.5vw;
  z-index: 1;
  color: #fff;
  background-color: #ff5a56;
  opacity: 0.56;
}
.textImage-dois::after {
  content: "";
  position: absolute;
  display: block;
  width: 7%;
  height: 10%;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  top: 5%;
  right: 17.5vw;
}

.textImage-dois::before {
  content: "";
  position: absolute;
  display: block;
  width: 7%;
  height: 10%;
  border-bottom: solid #fff 3px;
  border-right: #fff solid 3px;
  bottom: 5%;
  left: 17.5vw;
}

.textImage-dois h3 {
  width: 30%;
  height: 8vh;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 2vh;
  right: 12.7vw;
  font-size: 0.8em;
  text-transform: uppercase;
  opacity: 1;
}

.textImage-dois p {
  width: 80%;
  height: 10vh;
  position: absolute;
  top: 8vh;
  right: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-weight: 600;
  font-size: 0.7em;
  opacity: initial;
}
.textImage-dois a {
  width: 30%;
  height: 5vh;
  border: solid 2px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18.5vh;
  right: 13vw;
  font-size: 1em;
  opacity: initial;
}

.divSectionImageDois:hover .textImage-dois {
  display: block;
}

.image-tres {
  width: 18.7%;
  position: absolute;
  top: 31.5vh;
  right: 13.2vw;
}

.textImage-tres {
  width: 20%;
  display: none;
  height: 26vh;
  position: relative;
  top: 30.5vh;
  right: -65.8vw;
  z-index: 1;
  color: #fff;
  background-color: #ff5a56;
  opacity: 0.56;
}

.textImage-tres h3 {
  width: 30%;
  height: 8vh;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 2vh;
  right: 12.7vw;
  font-size: 0.8em;
  text-transform: uppercase;
  opacity: 1;
}
.textImage-tres p {
  width: 80%;
  height: 10vh;
  position: absolute;
  top: 8vh;
  right: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-weight: 600;
  font-size: 0.7em;
  opacity: initial;
}

.textImage-tres a {
  width: 30%;
  height: 5vh;
  border: solid 2px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18.5vh;
  right: 13vw;
  font-size: 1em;
  opacity: initial;
}

.textImage-tres::after {
  content: "";
  position: absolute;
  display: block;
  width: 7%;
  height: 10%;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  top: 5%;
  right: 17.5vw;
}

.textImage-tres::before {
  content: "";
  position: absolute;
  display: block;
  width: 7%;
  height: 10%;
  border-bottom: solid #fff 3px;
  border-right: #fff solid 3px;
  bottom: 5%;
  left: 17.5vw;
}

.divSectionImageTres:hover .textImage-tres {
  display: block;
}

.image-quatro {
  width: 18.7%;
  position: absolute;
  top: 56vh;
  right: 31.5vw;
}
.textImage-quatro {
  width: 20%;
  display: none;
  height: 26vh;
  position: relative;
  top: 55vh;
  right: -47.5vw;
  z-index: 1;
  color: #fff;
  background-color: #ff5a56;
  opacity: 0.56;
}

.textImage-quatro h3 {
  width: 30%;
  height: 8vh;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 2vh;
  right: 12.7vw;
  font-size: 0.8em;
  text-transform: uppercase;
  opacity: 1;
}

.textImage-quatro p {
  width: 80%;
  height: 10vh;
  position: absolute;
  top: 8vh;
  right: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-weight: 600;
  font-size: 0.7em;
  opacity: initial;
}

.textImage-quatro a {
  width: 30%;
  height: 5vh;
  border: solid 2px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18.5vh;
  right: 13vw;
  font-size: 1em;
  opacity: initial;
}

.textImage-quatro::after {
  content: "";
  position: absolute;
  display: block;
  width: 7%;
  height: 10%;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  top: 5%;
  right: 17.5vw;
}

.textImage-quatro::before {
  content: "";
  position: absolute;
  display: block;
  width: 7%;
  height: 10%;
  border-bottom: solid #fff 3px;
  border-right: #fff solid 3px;
  bottom: 5%;
  left: 17.5vw;
}

.divSectionImageQuatro:hover .textImage-quatro {
  display: block;
}

.image-cinco {
  width: 18.7%;
  position: absolute;
  top: 56vh;
  right: 13.2vw;
}

.textImage-cinco {
  width: 20%;
  display: none;
  height: 26vh;
  position: relative;
  top: 55vh;
  right: -65.7vw;
  z-index: 1;
  color: #fff;
  background-color: #ff5a56;
  opacity: 0.56;
}
.textImage-cinco h3 {
  width: 30%;
  height: 8vh;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 2vh;
  right: 14vw;
  font-size: 0.8em;
  text-transform: uppercase;
  opacity: 1;
}

.textImage-cinco p {
  width: 80%;
  height: 10vh;
  position: absolute;
  top: 8vh;
  right: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-weight: 600;
  font-size: 0.7em;
  opacity: initial;
}
.textImage-cinco a {
  width: 30%;
  height: 5vh;
  border: solid 2px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18.5vh;
  right: 13vw;
  font-size: 1em;
  opacity: initial;
}

.textImage-cinco::after {
  content: "";
  position: absolute;
  display: block;
  width: 7%;
  height: 10%;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  top: 5%;
  right: 17.5vw;
}

.textImage-cinco::before {
  content: "";
  position: absolute;
  display: block;
  width: 7%;
  height: 10%;
  border-bottom: solid #fff 3px;
  border-right: #fff solid 3px;
  bottom: 5%;
  left: 17.5vw;
}

.divSectionImageCinco:hover .textImage-cinco {
  display: block;
}

.image-seis {
  position: absolute;
  width: 74.5%;
  right: 13vw;
  top: 86vh;
}

.legenda {
  position: absolute;
  top: 185vh;
  width: 45%;
  line-height: 1.3;
  font-size: 0.8em;
  right: 13vw;
  color: #fff;
  font-weight: 100;
  text-align: right;
}

.player {
  position: relative;
  width: 100%;
  height: 52vh;
}

.capitao {
  width: 26%;
  position: absolute;
  top: -47vh;
  right: 67vw;
}

.player h2 {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  top: -25vh;
  right: 40vw;
  word-spacing: 5px;
  font-size: 2em;
}

.download {
  width: 15%;
  height: 32.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  right: 51vw;
  top: 3vh;
}
.numero {
  font-size: 1.5em;
}

.numero:hover {
  font-weight: bold;
}

.escolher {
  width: 15%;
  height: 32.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  right: 33vw;
  top: 3vh;
}

.explorar {
  width: 15%;
  height: 32.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  right: 15vw;
  top: 3vh;
}

.btn {
  text-decoration: none;
  background-color: black;
  width: 54%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 100;
  position: relative;
  overflow: hidden;
  border: solid black 2px;
  text-transform: uppercase;
  font-size: 1em;
}

.btn:hover::before {
  content: "";
  animation: carregar 3s ease-in-out normal 1 both;
  position: absolute;
  background-color: #ff5a56;
  width: 100%;
  height: 5vh;
  cursor: pointer;
  transition: 3s ease-in-out;
  opacity: 0.8;
}

@keyframes carregar {
  0% {
    left: 0%;
  }
  50% {
    left: 50%;
  }

  100% {
    left: 100%;
  }
}

.text {
  text-align: center;
  font-size: 0.9em;
  width: 75%;
  height: 7vh;
}

.linha {
  width: 30%;
  height: 0.5vh;
  background-color: black;
}

.linha:hover {
  width: 30%;
  height: 0.5vh;
  background-color: #ff5a56;
}

@media (max-width: 320px) {
  .container-header {
    width: 100%;
    height: 25vh;
    background-size: cover;
  }
  .logoKilo {
    width: 68%;
    top: 1.3vh;
    right: 20vw;
  }

  .logoStar {
    width: 26%;
    height: 3.5vh;
    right: 55vw;
    top: 15vh;
  }
  .logoWars {
    width: 26%;
    height: 3.5vh;
    left: 65vw;
    bottom: 6vh;
  }
  .menu {
    width: 18%;
    left: 75%;
    bottom: -5.5vh;
  }
  .text-menu {
    font-size: 0.5em;
    border-bottom: 2px solid #000;
  }

  .header--menu {
    font-size: 0.4em;
  }

  .header--menu p span {
    font-size: 1.2em;
  }

  .header-menu-btn {
    width: 5px;
    height: 0.4vw;
    margin: 2px 0 0 2px;
    padding: 3px;
  }

  .container--header {
    width: 100%;
    height: 93vh;
    background-size: cover;
  }
  .img-sobre {
    display: none;
  }
  .img-sobreUm {
    display: initial;
    width: 80%;
    position: absolute;
    top: 74.5vh;
    right: 9vw;
  }

  .img-red {
    width: 65%;
    top: 10vh;
    height: 60vh;
    right: 8vw;
  }
  .img-red h2 {
    font-size: 1.6em;
  }
  .img-red p {
    font-size: 0.7em;
    width: 70%;
  }
  .img-linha {
    width: 80%;
    height: 0.8vh;
    bottom: -47vh;
    left: 12vw;
  }
  .container--headerDois {
    height: 64.5vh;
    top: 13vh;
  }
  .imgUm {
    width: 50%;
    top: 41vh;
    right: 50vw;
    z-index: 1;
  }
  .imgDois {
    width: 25%;
    height: 26vh;
    position: absolute;
    top: 41vh;
    right: 3vw;
    z-index: 1;
  }
  .list {
    right: 29vw;
    width: 49%;
    height: 30vh;
    top: 34vh;
  }
  .list h2 {
    font-size: 1em;
  }
  .list ul {
    font-size: 0.5em;
  }
  .fundoBranco {
    width: 100%;
    height: 66vh;
    background-color: #fff;
  }
  .sectionImage {
    z-index: 0;
    height: 240vh;
  }
  .sectionImage h2 {
    right: 50vw;
    top: 10vh;
    font-size: 1em;
  }
  .image-um {
    width: 78%;
    right: 11vw;
    top: 12.5vh;
  }
  .textImage-um {
    width: 79%;
    height: 30vh;
    right: -10vw;
    top: 11.5vh;
  }
  .textImage-um h3 {
    top: 3vh;
    right: 42vw;
    font-size: 0.9em;
    width: 40%;
    height: 4vh;
  }
  .textImage-um p {
    font-size: 0.7em;
    top: 9vh;
    right: 5vw;
    width: 90%;
    height: 13vh;
  }
  .textImage-um a {
    width: 30%;
    height: 5vh;
    top: 22.5vh;
    right: 52vw;
    font-size: 0.8em;
    border: solid 2px;
  }
  .image-dois {
    width: 78%;
    right: 11vw;
    top: 41vh;
  }
  .textImage-dois {
    width: 79%;
    height: 30vh;
    right: -10vw;
    top: 40vh;
  }

  .textImage-dois h3 {
    top: 3vh;
    right: 42vw;
    font-size: 0.9em;
    width: 40%;
    height: 4vh;
  }
  .textImage-dois p {
    font-size: 0.7em;
    top: 9vh;
    right: 5vw;
    width: 90%;
    height: 13vh;
  }
  .textImage-dois a {
    width: 30%;
    height: 5vh;
    top: 22.5vh;
    right: 52vw;
    font-size: 0.8em;
    border: solid 2px;
  }
  .textImage-dois::after {
    right: 70vw;
  }
  .textImage-dois::before {
    left: 70vw;
  }

  .image-tres {
    width: 78%;
    right: 11vw;
    top: 70vh;
  }
  .textImage-tres {
    width: 79%;
    height: 30vh;
    right: -10vw;
    top: 69.5vh;
  }

  .textImage-tres h3 {
    top: 3vh;
    right: 42vw;
    font-size: 0.9em;
    width: 40%;
    height: 4vh;
  }
  .textImage-tres p {
    font-size: 0.7em;
    top: 9vh;
    right: 5vw;
    width: 90%;
    height: 13vh;
  }
  .textImage-tres a {
    width: 30%;
    height: 5vh;
    top: 22.5vh;
    right: 52vw;
    font-size: 0.8em;
    border: solid 2px;
  }
  .textImage-tres::after {
    right: 70vw;
  }
  .textImage-tres::before {
    left: 70vw;
  }

  .image-quatro {
    width: 78%;
    right: 11vw;
    top: 98.8vh;
  }
  .textImage-quatro {
    width: 79%;
    height: 30vh;
    right: -10vw;
    top: 98vh;
  }
  .textImage-quatro h3 {
    top: 3vh;
    right: 48vw;
    font-size: 0.9em;
    width: 40%;
    height: 4vh;
  }
  .textImage-quatro p {
    font-size: 0.7em;
    top: 9vh;
    right: 5vw;
    width: 90%;
    height: 13vh;
  }
  .textImage-quatro a {
    width: 30%;
    height: 5vh;
    top: 22.5vh;
    right: 52vw;
    font-size: 0.8em;
    border: solid 2px;
  }
  .textImage-quatro::after {
    right: 70vw;
  }
  .textImage-quatro::before {
    left: 70vw;
  }
  .image-cinco {
    width: 78%;
    right: 11vw;
    top: 127.5vh;
  }
  .textImage-cinco {
    width: 79%;
    height: 30vh;
    right: -10vw;
    top: 126vh;
  }
  .textImage-cinco h3 {
    top: 3vh;
    right: 49vw;
    font-size: 0.9em;
    width: 40%;
    height: 4vh;
  }
  .textImage-cinco p {
    font-size: 0.7em;
    top: 9vh;
    right: 5vw;
    width: 90%;
    height: 13vh;
  }
  .textImage-cinco a {
    width: 30%;
    height: 5vh;
    top: 22.5vh;
    right: 52vw;
    font-size: 0.8em;
    border: solid 2px;
  }
  .textImage-cinco::after {
    right: 70vw;
  }
  .textImage-cinco::before {
    left: 70vw;
  }
  .image-seis {
    width: 100%;
    right: 0;
    top: 160.5vh;
  }
  .legenda {
    width: 65%;
    top: 198vh;
    right: 7vw;
    font-size: 8px;
  }
  
  .capitao {
    top: -15vh;
    right: 50vw;
    width: 87%;
  }

  .player h2 {
    right: 13vw;
    top: -10vh;
    font-size: 1.2em;
  }
  .download {
    right: 5vw;
    top: 1vh;
    width: 45%;
    height: 22vh;
  }
  .numero {
    font-size: 1em;
  }
  .text {
    vertical-align: center;
    font-size: 0.6em;
    width: 60%;
    height: 9vh;
  }

  .escolher {
    right: 5vw;
    top: 25vh;
    width: 45%;
    height: 22vh;
  }
  .explorar {
    right: 5vw;
    top: 45vh;
    width: 45%;
    height: 22vh;
  }

  .btn{
    width: 80%;
    font-size: 0.7em;
  }
}
